<%- include('../partials/header') %>
  <h2><%=title%></h2>
  <p>Here is a picture of Assassin's Creed Brotherhood</p>
  <div class="pic"><img src="images/ACbrotherhood.jpg" class="img-fluid" alt="Responsive image"/></div>

  
  
<%- include('../partials/footer') %>