<%- include('../partials/header') %>
  <h2><%=title%></h2>
  <p>Here is a picture of Black ops 2</p>
  <div class="pic"><img src="images/bo2.jpg" class="img-fluid" alt="Responsive image"/></div>

  
  
<%- include('../partials/footer') %>