<%- include('../partials/header') %>
  <h2><%=title%></h2>
  <p>Here is a picture of Fifa 22</p>
  <div class="pic"><img src="images/fifa.jpg" class="img-fluid" alt="Responsive image"/></div>

  
  
<%- include('../partials/footer') %>