 

<%- include('../partials/header') %>
      <h2><%=title%></h2>
  	
<div class="pic"><img src="images/vg.jpg" class="img-fluid" alt="Responsive image"/></div>
    
<!--   	<div class="fakeimg">Fake Image</div> -->
  	<p>The links will take you to one of four of my favorite video game's</p>
  	<h3 class="mt-4">Some Links</h3>
  	<p>My four favorite video game's</p>
  	<ul class="nav nav-pills flex-column">
      <li class="nav-item">
      	<a class="nav-link" href="fifa">fifa</a>
    	</li>
      <li class="nav-item">
      	<a class="nav-link" href="nba">NBA 2K22</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="bo2">Black osp 2</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="ac">Assassins Creed Brotherhood</a>
    	</li>
 
  	</ul>
  	<hr class="d-sm-none">
	</div>

 
	
    <%- include('../partials/footer') %> 
    
<!--      <!--  views/partials/footer.ejs starts here  
	</div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
  <p>Template provided by <a href="https://www.w3schools.com/bootstrap5/trybs_template1.htm">w3schools</a></p>
</div>

</body>
</html> !-->